<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="JFrog-Global" value="https://centraluk.jfrog.io/artifactory/api/nuget/v3/glb-nuget-vir/index.json" />
    <add key="GitHub" value="https://nuget.pkg.github.com/emisgroup/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="JFrog-Global">
      <package pattern="*" />
    </packageSource>
    <packageSource key="GitHub">
      <package pattern="Emis.*" />
    </packageSource>
  </packageSourceMapping>

  <packageSourceCredentials>
    <JFrog-Global>
      <add key="Username" value="%JFROG_USER%" />
      <add key="ClearTextPassword" value="%JFROG_TOKEN%" />
    </JFrog-Global>
    <GitHub>
      <add key="Username" value="emisgroup" />
      <add key="ClearTextPassword" value="%GIT_TOKEN%" />
    </GitHub>
  </packageSourceCredentials>
</configuration>
